body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(20, 20px);
}

.snake,
.food {
    width: 20px;
    height: 20px;
}

.snake {
    background-color: #61dafb;
}

.food {
    background-color: #ff6347;
}
