body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #87CEEB; /* Light Sky Blue */
}

#game-container {
    text-align: center;
}

.falling-alphabet {
    font-size: 24px;
    position: absolute;
}

#score {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
